<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width">		<!-- for responsive page -->
	<meta name = "description" content="Java Compiler">
	<meta name="keywords" content="Java, Compiler, program">
	<meta name="author" content="Sujan Dhakal">
	<title> About- Java Compiler </title>
	<link rel="stylesheet" type="text/css" href = "../css/stylesheet.css">
	<style type="text/css" media="screen"> </style>
</head>
<body>
	<header> 
		<div class="container"> 
			<div id ="brand">
				<h1> Java <span class="highlight2"> Compiler </span> </h1>
			</div>
			<nav>
				<ul>
					<li> <a href="../index.html"> Home </a> </li>
					<li class="current"> About </a> </li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="main">
		<div class="container">
			<article id="main-col">
				<h1 class="page_title"> About </h1>
				<div class="page_info">
				<p>
					The Java Compiler lets you compile your Java program via the internet. Just type your program and submit 'run' and get your output instantly. 
				</p>
				<p>
					This project is developed by Sujan Dhakal, Lafayette College '21. 
				</p>
				</div>
			</article>

			<aside id="sidebar">
				<div class="side">
					<h3> Contact Information </h3>
					<div> Sujan Dhakal </div>
					<div> Email: dhakals@lafayette.edu </div>
					<div> Lafayette College '21 </div>
				</div>
			</aside>
		</div>
	</section>

	<footer>
		<p> Java Compiler, Sujan Dhakal, 2019 </p>
	</footer>
</body>
</html>